# Muhammmad Arya Mardhotillah

# 200601110113

# Modul, Package, dan Library
Modul : sebuah file yang berisikan sekumpulan kode fungsi dan global variabel yaang disimpan dalam ekstensi berupa py
Package : sekumpulan modul yang memiliki constructur _init_ dalam satu folder
library : gabungan dari modul dan package yang memiliki fungsionalitas yang memudahkan dalam membuat suatu program

# PANDAS

[link text](https:// [link text](https://))Pandas adalah sebuah librari berlisensi BSD dan open source yang menyediakan struktur data dan analisis data yang mudah digunakan dan berkinerja tinggi untuk bahasa program python.

# Data frame

struktur data dasar pandas dinamakan DataFrame yaitu koleksi kolom berurutan dengan bentuk sebuah tabel yang memudahkan untuk membaca sebuah file dan menjadikannya table.

# Komponen Utama Pandas

1) Series dan Dataframe

In [2]:
import pandas as pd

In [44]:
#pembuatan DataFrame
data = {'apples': [3, 2, 0, 1],'oranges': [0, 3, 7, 2]}

purchases = pd.DataFrame(data)
print(purchases)

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [45]:
# Penambahan Indeks sesuai keinginan
purchases = pd.DataFrame(data,
index=['June', 'Robert', 'Lily', 'David'])
print(purchases.loc['Robert'])

apples     2
oranges    3
Name: Robert, dtype: int64

In [46]:
print(purchases.loc['David'])

apples     1
oranges    2
Name: David, dtype: int64

# Penambahan Kolom Baru

In [47]:
df = pd.DataFrame({'celcius': [17.0, 25.0]},index=['Bantul', 'Sleman'])
print(df)

        celcius
Bantul     17.0
Sleman     25.0

In [48]:
# Penambahan kolom fahrenheit
df=df.assign(fah=df['celcius']*9/5+32)
print(df)

        celcius   fah
Bantul     17.0  62.6
Sleman     25.0  77.0

In [49]:
# Dengan lambda function
df=df.assign(rea=lambda x:x.celcius*4/5)
print(df)

        celcius   fah   rea
Bantul     17.0  62.6  13.6
Sleman     25.0  77.0  20.0

# Apply Function

In [19]:
df=pd.DataFrame({'nama':['andi', 'rudi', 'siti', 'ani'],'ipk':[2.3,3.1,1.8,2.9]})

print(df)

   nama  ipk
0  andi  2.3
1  rudi  3.1
2  siti  1.8
3   ani  2.9

In [20]:
# Ditambah fungsi
def group_nilai(a):
    if a > 2.75:
        hasil="Bagus"
    elif a > 2.5:
        hasil="Cukup"
    else:
        hasil="Kurang"
    return hasil
# Apply function ke assign (untuk tambah kolom)
df=df.assign(status=df['ipk'].apply(group_nilai))
print(df)

   nama  ipk  status
0  andi  2.3  Kurang
1  rudi  3.1   Bagus
2  siti  1.8  Kurang
3   ani  2.9   Bagus

# Import.txt

In [6]:
data1=pd.read_csv("dt.txt")
print(data1)

   A\tB
0  1\tk
1  2\tl
2  3\tm
3  4\tn

In [7]:
data2=pd.read_csv("dt.txt", delimiter="\t")
print(data2)

   A  B
0  1  k
1  2  l
2  3  m
3  4  n

# Import.cvs

In [8]:
data3=pd.read_csv("dt.txt")
print(data3)

   A\tB
0  1\tk
1  2\tl
2  3\tm
3  4\tn

In [9]:
pd.read_csv("dt.txt", delimiter="\s+")

   A  B
0  1  k
1  2  l
2  3  m
3  4  n

# Import.xlsx

In [10]:
pd.read_excel('cobaaa.xlsx')

   A  B
0  1  1
1  2  2
2  3  3
3  4  4

# Import.xlx

In [11]:
!pip install --upgrade xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (2.0.1)

In [12]:
pd.read_excel('cobaaa.xls')

   A  B
0  1  1
1  2  2
2  3  3
3  4  4

# Meliat Tabel

In [13]:
# Semua 
data2

   A  B
0  1  k
1  2  l
2  3  m
3  4  n

In [14]:
#sebagian yang diatas (karena datanya sedikit maka yang tampil semua, silahkan coba dengan data yang lebih banyak lagi sendiri)
data2.head()

   A  B
0  1  k
1  2  l
2  3  m
3  4  n

# membuat data frame sendiri

In [15]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [16]:
data = [1,2,3,4,5]
df1 = pd.DataFrame(data)
print(df1)

   0
0  1
1  2
2  3
3  4
4  5

In [17]:
data = [['Purwanto',32],['Purnomo',43],['Purwo',55]]
df2 = pd.DataFrame(data,columns=['Nama','Usia'])
print(df2)

       Nama  Usia
0  Purwanto    32
1   Purnomo    43
2     Purwo    55

In [18]:
import pandas as pd
import numpy as np

# memanggil data frame

In [19]:
data = [['Purwanto',32],['Purnomo',43],['Purwo',55]]
df2 = pd.DataFrame(data,columns=['Nama','Usia'])
print(df2)

       Nama  Usia
0  Purwanto    32
1   Purnomo    43
2     Purwo    55

In [20]:
df2["Nama"]

0    Purwanto
1     Purnomo
2       Purwo
Name: Nama, dtype: object

In [21]:
df2["Usia"]

0    32
1    43
2    55
Name: Usia, dtype: int64

In [22]:
df2["Nama"][0]

'Purwanto'

In [23]:
df2.iloc[0][0]

'Purwanto'

In [24]:
df2.loc[0]["Nama"]

'Purwanto'

In [25]:
df2.iat[0,0]

'Purwanto'

In [26]:
df2.iloc[0]

Nama    Purwanto
Usia          32
Name: 0, dtype: object

In [27]:
df2.loc[:,'Nama']

0    Purwanto
1     Purnomo
2       Purwo
Name: Nama, dtype: object

# Set Indeks

In [28]:
df3 = pd.DataFrame([['Purwanto',32],['Purnomo',43],['Purwo',55]],columns=['Nama','Usia'])
df3

       Nama  Usia
0  Purwanto    32
1   Purnomo    43
2     Purwo    55

In [29]:
df3.set_index("Nama")

          Usia
Nama
Purwanto    32
Purnomo     43
Purwo       55

# Pemanggiln Baris

In [30]:
df4 = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), index= [2, 'A', 4], columns=[48, 49, 50])
df4

   48  49  50
2   1   2   3
A   4   5   6
4   7   8   9

In [31]:
df4.loc[2]

48    1
49    2
50    3
Name: 2, dtype: int64

In [32]:
df4.iloc[2]

48    7
49    8
50    9
Name: 4, dtype: int64

# Menamba Kolom

In [33]:
#Menambahkan index di kolom baru
df5 = pd.DataFrame([['Purwanto',32],['Purnomo',43],['Purwo',55]],columns=['Nama','Usia'])
df5["Index"]=df5.index
df5

       Nama  Usia  Index
0  Purwanto    32      0
1   Purnomo    43      1
2     Purwo    55      2

In [34]:
#Menambahkan kolom dengan isian baru
df5.loc[:, "Gender"] = pd.Series(['L','L','L'])
df5

       Nama  Usia  Index Gender
0  Purwanto    32      0      L
1   Purnomo    43      1      L
2     Purwo    55      2      L

# Meliahat Ukuran DataFrame

In [35]:
#ukuran baris paling panjang
len(df2)

3

In [36]:
#ukuran baris pada kolom tertentu
len(df2["Nama"])

3

In [37]:
#ukuran baris, ukuran kolom dataframe
print(df2.shape)

(3, 2)

# Menghaapus

In [38]:
df6 = pd.DataFrame([['Purwanto',32],['Purnomo',43],['Purwo',55]],columns=['Nama','Usia'])
df6

       Nama  Usia
0  Purwanto    32
1   Purnomo    43
2     Purwo    55

In [39]:
#menghapus kolom
del df6['Nama']
df6

   Usia
0    32
1    43
2    55

In [40]:
#Menghapus n baris di awal
df6=df6[2:]
df6

   Usia
2    55

In [41]:
df6 = pd.DataFrame([['Purwanto',32],['Purnomo',43],['Purwo',55]],columns=['Nama','Usia'])
df6

       Nama  Usia
0  Purwanto    32
1   Purnomo    43
2     Purwo    55

In [42]:
#Menghapus baris tertentu
df6=df6.drop(df6.index[[0,2]])
df6

      Nama  Usia
1  Purnomo    43

# Export DataFrame

In [43]:
#import pandas dan numpy
import pandas as pd
import numpy as np
#Misal kita punya suatu dataframe
data = [[1,32],[2,43],[4,55]]
df = pd.DataFrame(data,columns=['Nama','Usia'])
#Convert ke numpy array
databaru = df.to_numpy()
print(databaru)
#Convert ke txt
df.to_csv("dataexport.txt")
#Convert ke csv
df.to_csv("dataexport.csv")
#Convert ke xlsx
writer = pd.ExcelWriter('dataexport.xlsx')
df.to_excel(writer, 'DataFrame')
writer.save()

[[ 1 32]
 [ 2 43]
 [ 4 55]]